
.group{
	display: inline-block;
	float:right;
}
 .button, .drop_down
        {
            display: inline-block;
            width: 107px;
            height: 31px;
            line-height: 30px;
            padding: 0 8px;
            background: #c3bdb8;
            vertical-align: middle;
            margin-right: 10px;
            color: #f9f6f0;
            text-transform: uppercase;
            cursor: pointer;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
        .drop_down
        {
            width: auto;
            margin: 0 0 0 20px;
            background: none;
            color: #c3bdb8;
            padding: 0;
            position: relative;
            letter-spacing: 2px;
            z-index: 999;
        }
        .drop_down span
        {
            position: relative;
            padding-right: 20px;
        }
        .drop_down span::after, .drop_down span::before
        {
            position: absolute;
            top: 8px;
            right: 3px;
            display: block;
            content: '';
            border: 6px solid transparent;
            border-top: 7px solid #c3bdb8;
        }
        .drop_down span::before
        {
            top: 6px;
            border-top-color: #f9f6f0;
            z-index: 10;
        }
        .drop_down:hover span::after
        {
            border-top-color: #333;
        }
        .drop_down ul
        {
            position: absolute;
            opacity: 0;
            max-height: 0;
            right: -3px;
            background: #fff;
            padding: 10px;
            min-width: 120px;
            text-align: right;
            overflow: hidden;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
            box-shadow: 0 0 10px rgba(0,0,0,.3);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
        .drop_down:hover ul
        {
            opacity: 1;
            max-height: 300px;
        }
        .drop_down:hover span
        {
            color: #333;
        }
        .drop_down li
        {
            display: block;
            text-transform: none;
            color: #808080;
            font-weight: 300;
            line-height: 1;
            letter-spacing: 0;
            margin-bottom: 10px;
            -webkit-transition: all 150ms;
            -moz-transition: all 150ms;
            -ms-transition: all 150ms;
            transition: all 150ms;
        }
        .drop_down li:after
        {
            content: '';
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            top: 1px;
            margin-left: 6px;
            border: 1px solid #ccc;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }
        .drop_down li:last-of-type
        {
            margin: 0;
        }
        .drop_down li:hover
        {
            color: #59514c;
        }
        .drop_down li.active
        {
            color: #e96d51;
            font-weight: 400;
        }
        .drop_down li.active:after
        {
            background: #e96d51;
            border-color: #e96d51;
        }
        .button.active
        {
            background: #e96d51;
        }
        .button i
        {
            position: relative;
            display: inline-block;
            background: #f9f6f0;
            width: 17px;
            height: 17px;
            margin-right: 8px;
            top: 3px;
        }
        .button i:before, .button i:after
        {
            content: '';
            position: absolute;
            display: block;
            background: #c3bdb8;
        }